<%- include('header', { title: 'AE Mobile - Điện thoại, Laptop, Máy tính bảng, Phụ kiện, Đồng hồ chính hãng', titleSub: 'home' }); -%>
    <div class="container content-grid">
        <div class="row">
            <div class="span16 home-top-header mtop5">
                <div class="row">
                    <div class="span11 home-header-banner">
                        <style type="text/css">
                            /*.tygh-content { background: #f3f3f3; }*/
                            .tygh-content>div {
                                background: none;
                            }

                            .tygh-content .container.content-grid {
                                margin-top: 0;
                                margin-bottom: 0;
                            }

                            .home-header-banner .owl-theme.banner-owl-title .owl-controls .owl-page {
                                width: 20%;
                            }
                        </style>
                        <div class=" homepage-banners">
                            <div id="banner_slider" class="banners owl-carousel owl-theme banner-owl-title "
                                style="opacity: 1; display: block;">
                                <div class="item" title="Note 20 Series Chip 865+ Sẵn Hàng"> <a class="banner-link"
                                        href="/dien-thoai/samsung-galaxy-note-20">
                                        <img class="ty-pict lazyOwl cm-image" id="det_img_745476425"
                                            src="/images/promo/note-20-my.jpg"
                                            alt="Note 20 Series Chip Snapdragon 865+ Chỉ 22 Triệu"
                                            title="Note 20 Series Chip Snapdragon 865+ Chỉ 22 Triệu" width="1907"
                                            height="640">
                                    </a>
                                </div>
                                <div class="item" title="LG Mỹ, Hàn Có Sẵn, Giá Tốt"> <a class="banner-link"
                                        href=""> <img class="ty-pict lazyOwl cm-image"
                                            id="det_img_887982919" src="/images/promo/lg-banner.jpg"
                                            alt="Sắm Galaxy S20 Series Giá Sốc" title="Sắm Galaxy S20 Series Giá Sốc"
                                            width="1907" height="640">
                                    </a>
                                </div>
                                <div class="item" title="iPhone 12 Chính Hãng Giá Từ 21 Triệu">
                                    <a class="banner-link" href="/dien-thoai/iphone-12">
                                        <img class="pict" id="det_img_735710077" src="/images/promo/iphone-12.png"
                                            width="1907" height="640" alt="iPhone 12 Sẵn Hàng Giá Từ 21 Triệu"
                                            title="iPhone 12 Sẵn Hàng Giá Từ 21 Triệu">
                                    </a>
                                </div>
                                <div class="item" title="iPhone Chính Hãng VN/A Giá Siêu Sốc">
                                    <a class="banner-link" href="/dien-thoai-iphone">
                                        <img class="ty-pict lazyOwl cm-image" id="det_img_435276544"
                                            alt="iPhone Chính Hãng VNA Giá Siêu Sốc"
                                            title="iPhone Chính Hãng VNA Giá Siêu Sốc"
                                            src="/images/promo/iphone-chinh-hang.jpg" width="1907" height="640">
                                    </a>
                                </div>
                                <div class="item" title="Galaxy Tab Chính Hãng Giá Sốc"> <a class="banner-link"
                                        href="/may-tinh-bang-samsung">
                                        <img class="ty-pict lazyOwl cm-image" id="det_img_1379036285"
                                            alt="Galaxy Tab Chính Hãng Giá Sốc" title="Galaxy Tab Chính Hãng Giá Sốc"
                                            src="/images/promo/tab-a.jpg" width="1907" height="640">
                                    </a>
                                </div>
                            </div> <!-- Inline script moved to the bottom of the page -->
                            <!-- Inline script moved to the bottom of the page -->
                        </div>
                    </div>
                    <div class="span5 home-header-banner">
                        <figure>
                            <h2><a href="/tin-tuc">24H CÔNG NGHỆ</a></h2> <b></b>
                        </figure>
                        <ul class="text_news_link">
                            <li><a href="/"
                                    title="Xiaomi Mi 11 pin 5.000mAh tiếp tục lộ ảnh trên tay người dùng"><img
                                        class="ty-pict cm-image"
                                        data-src="https://cdn.tgdd.vn/Files/2020/12/12/1313257/mi-11_800x450-100x100.png"
                                        alt="Xiaomi Mi 11 pin 5.000mAh tiếp tục lộ ảnh trên tay người dùng"
                                        title="Xiaomi Mi 11 pin 5.000mAh tiếp tục lộ ảnh trên tay người dùng"
                                        src="https://cdn.tgdd.vn/Files/2020/12/12/1313257/mi-11_800x450-100x100.png"
                                        width="100" height="56">Xiaomi Mi 11 pin 5.000mAh tiếp tục lộ ảnh
                                    trên tay người dùng</a>
                            </li>
                            <li><a href="/"
                                    title="Giảm giá đến 5 triệu loạt smartphone, tablet Samsung bán chạy"><img
                                        class="ty-pict cm-image"
                                        data-src="https://cdn.tgdd.vn/Files/2020/12/10/1312864/samsunggalaxya21s_800x450.jpg"
                                        alt="Giảm giá đến 5 triệu loạt smartphone, tablet Samsung bán chạy"
                                        title="Giảm giá đến 5 triệu loạt smartphone, tablet Samsung bán chạy"
                                        src="https://cdn.tgdd.vn/Files/2020/12/10/1312864/samsunggalaxya21s_800x450.jpg"
                                        width="100" height="56">Giảm giá đến 5 triệu loạt smartphone, tablet
                                    Samsung bán chạy</a>
                            </li>
                            <li><a href="/"
                                    title="Ưu đãi mùa giáng sinh: Sắm laptop Dell nhận ngay liền tay phần quà trị giá 200k"><img
                                        class="ty-pict cm-image"
                                        data-src="https://cdn.tgdd.vn/Files/2020/12/10/1312939/th_800x450.png"
                                        alt="Ưu đãi mùa giáng sinh: Sắm laptop Dell nhận ngay liền tay phần quà trị giá 200k"
                                        title="Ưu đãi mùa giáng sinh: Sắm laptop Dell nhận ngay liền tay phần quà trị giá 200k"
                                        src="https://cdn.tgdd.vn/Files/2020/12/10/1312939/th_800x450.png" width="100"
                                        height="56">Ưu đãi mùa giáng sinh: Sắm laptop Dell nhận
                                    ngay liền tay phần quà trị giá 200k</a></li>
                        </ul>
                        <div class="ad-container center"> <a href="dien-thoai-iphone"> <img class="ty-pict cm-image"
                                    style="padding-top: 7px;"
                                    data-src="https://cdn.tgdd.vn/2020/11/banner/398-110-398x110-2.png"
                                    alt="Apple giảm đến 2 triệu" title="Apple giảm đến 2 triệu"
                                    src="https://cdn.tgdd.vn/2020/11/banner/398-110-398x110-2.png" width="778"
                                    height="237"> </a> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span16 home-header-banner">
                <div class="home-banner-3">
                    <div class="ad-container center">
                        <a href="dien-thoai/iphone-12"> <img class="ty-pict load_scroll cm-image"
                                data-src="/images/promo/iphone-12-danh-muc.png" alt="Home 3 - 5" title="Home 3 - 5"
                                src="/images/empty.jpg" width="1600" height="660">
                        </a>
                    </div>
                    <div class="ad-container center">
                        <a href="may-tinh-bang-samsung"> <img class="ty-pict load_scroll cm-image"
                                data-src="/images/promo/galaxy-tab-a.jpg" alt="Home 3-4" title="Home 3-4"
                                src="/images/empty.jpg" width="1600" height="660">
                        </a>
                    </div>
                    <div class="ad-container center">
                        <a href="dien-thoai-iphone"> <img class="ty-pict load_scroll cm-image"
                                data-src="/images/promo/iphone-chinh-hangs.jpg" alt="iPhone Chính Hãng Giá Siêu Sốc"
                                title="iPhone Chính Hãng Giá Siêu Sốc" src="/images/empty.jpg" width="1600"
                                height="660">
                        </a>
                    </div>
                </div>
                <div class="sidebox-wrapper-nhansam homepage-on-sale mtop10">
                    <h3 class="sidebox-title_nhansam"> <span>Điện Thoại nổi bật</span> </h3>
                    <div class="viewallcat">
                        <ul>
                            <li><a href="dien-thoai-iphone">iPhone</a></li>
                            <li><a href="dien-thoai-samsung">Samsung</a></li>
                            <li><a href="dien-thoai-xiaomi">Xiaomi</a></li>
                            <li><a href="dien-thoai-sony">Sony</a></li>
                            <li><a href="dien-thoai">Xem tất cả</a></li>
                        </ul>
                    </div>
                    <div class="sidebox-body_nhansam">
                        <!-- Inline script moved to the bottom of the page -->
                        <div class="grid_product_list_column clearfix">
                            <% product_noibat.forEach(function(product, index){ %>
                                <div class="product_list_column5 ">
                                    <div class="grid-list__item ">
                                        <div class="grid-list__image">  <% if(product.isHangCongTy==true){ %>
                                            <span class="label_cty">Công ty</span>
                                        <% } %>
                                        <% if(product.isTraGop==true){ %>
                                            <label class="label_installment">Trả góp 0%</label>
                                        <% } %>
                                        <% if(product.isSieuGiamGia==true){ %>
                                            <span class="sticker_mau_4">Siêu giảm giá</span>
                                        <% } %>
                                        <% if(product.isTraGop==true){ %>
                                            <label class="label_installment">Trả góp 0%</label>
                                        <% } %>
                                            <a
                                                href="dien-thoai/<%= product.path_url %>"
                                                title="<%= product.name %>"><img
                                                    class="ty-pict load_scroll cm-image fade-in-on-load"
                                                    data-src="uploads/<%= product.extend_products[0].path_image %>"
                                                    alt="<%= product.name %>"
                                                    title="<%= product.name %>" src="/images/empty.jpg"
                                                    width="180" height="180"></a>
                                        </div>
                                        <div class="grid-list__rating no-rating"></div>
                                        <div class="grid-list__item-name"> <a href="dien-thoai/<%= product.path_url %>"
                                            class="product-title"><%= product.name %></a> </div>
                                        <div class="grid-list__price"> 
                                            <span class="cm-reload-720003807 price-update" id="price_update_720003807"> 
                                                <span class="price" id="line_discounted_price_720003807">
                                                    <span id="sec_discounted_price_720003807"
                                                        class="price-num"><%= product.price.toLocaleString('it-IT') %></span><span class="price-num"><sup style="font-size:smaller">₫</sup></span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <div class="sidebox-wrapper-nhansam">
                    <h3 class="sidebox-title_nhansam"> <span>IPHONE (APPLE)</span> </h3>
                    <div class="viewallcat">
                        <ul>
                            <li><a href="dien-thoai/iphone-12-pro-max">iPhone 12 Pro Max</a></li>
                            <li><a href="dien-thoai/iphone-12-pro">iPhone 12 Pro</a></li>
                            <li><a href="dien-thoai/iphone-12">iPhone 12</a></li>
                            <li><a href="dien-thoai-iphone">Xem tất cả</a></li>
                        </ul>
                    </div>
                    <div class="sidebox-body_nhansam">
                        <div class="grid_product_list_column clearfix">
                            <% product_iphone.forEach(function(product, index){ %>
                                <div class="product_list_column5 ">
                                    <div class="grid-list__item ">
                                        <div class="grid-list__image">  <% if(product.isHangCongTy==true){ %>
                                            <span class="label_cty">Công ty</span>
                                        <% } %>
                                        <% if(product.isTraGop==true){ %>
                                            <label class="label_installment">Trả góp 0%</label>
                                        <% } %>
                                        <% if(product.isSieuGiamGia==true){ %>
                                            <span class="sticker_mau_4">Siêu giảm giá</span>
                                        <% } %>
                                        <% if(product.isTraGop==true){ %>
                                            <label class="label_installment">Trả góp 0%</label>
                                        <% } %>
                                            <a
                                                href="dien-thoai/<%= product.path_url %>"
                                                title="<%= product.name %>"><img
                                                    class="ty-pict load_scroll cm-image fade-in-on-load"
                                                    data-src="uploads/<%= product.extend_products[0].path_image %>"
                                                    alt="<%= product.name %>"
                                                    title="<%= product.name %>" src="/images/empty.jpg"
                                                    width="180" height="180"></a>
                                        </div>
                                        <div class="grid-list__rating no-rating"></div>
                                        <div class="grid-list__item-name"> <a href="dien-thoai/<%= product.path_url %>"
                                            class="product-title"><%= product.name %></a> </div>
                                        <div class="grid-list__price"> 
                                            <span class="cm-reload-720003807 price-update" id="price_update_720003807">
                                                <span class="price" id="line_discounted_price_720003807">
                                                    <span id="sec_discounted_price_720003807"
                                                        class="price-num"><%= product.price.toLocaleString('it-IT') %></span><span class="price-num"><sup style="font-size:smaller">₫</sup></span>
                                                </span>
                                            </span> 
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <div class="sidebox-wrapper-nhansam">
                    <h3 class="sidebox-title_nhansam"> <span>SAMSUNG Chính Hãng</span> </h3>
                    <div class="viewallcat">
                        <ul>
                            <li><a href="dien-thoai/samsung-galaxy-s20">S20 Series</a></li>
                            <li><a href="dien-thoai/samsung-galaxy-z-flip">Galaxy Z Flip</a></li>
                            <li><a href="dien-thoai/samsung-galaxy-z-fold2">Galaxy Z Fold2</a></li>
                            <li><a href="dien-thoai-samsung">Xem tất cả</a></li>
                        </ul>
                    </div>
                    <div class="sidebox-body_nhansam">
                        <div class="grid_product_list_column clearfix">
                            <% product_samsung.forEach(function(product, index){ %>
                                <div class="product_list_column5 ">
                                    <div class="grid-list__item ">
                                        <div class="grid-list__image">  <% if(product.isHangCongTy==true){ %>
                                            <span class="label_cty">Công ty</span>
                                        <% } %>
                                        <% if(product.isTraGop==true){ %>
                                            <label class="label_installment">Trả góp 0%</label>
                                        <% } %>
                                        <% if(product.isSieuGiamGia==true){ %>
                                            <span class="sticker_mau_4">Siêu giảm giá</span>
                                        <% } %>
                                        <% if(product.isTraGop==true){ %>
                                            <label class="label_installment">Trả góp 0%</label>
                                        <% } %>
                                            <a href="dien-thoai/<%= product.path_url %>" title="<%= product.name %>">
                                                <img class="ty-pict load_scroll cm-image fade-in-on-load"
                                                    data-src="uploads/<%= product.extend_products[0].path_image %>"
                                                    alt="<%= product.name %>"
                                                    title="<%= product.name %>" src="/images/empty.jpg"
                                                    width="180" height="180"></a>
                                        </div>
                                        <div class="grid-list__rating no-rating"></div>
                                        <div class="grid-list__item-name"> <a href="dien-thoai/<%= product.path_url %>"
                                            class="product-title"><%= product.name %></a> </div>
                                        <div class="grid-list__price"> 
                                            <span class="cm-reload-720003807 price-update" id="price_update_720003807">
                                                <span class="price" id="line_discounted_price_720003807">
                                                    <span id="sec_discounted_price_720003807"
                                                        class="price-num"><%= product.price.toLocaleString('it-IT') %></span><span class="price-num"><sup style="font-size:smaller">₫</sup></span>
                                                </span>
                                            </span> 
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <div class="sidebox-wrapper-nhansam">
                    <h3 class="sidebox-title_nhansam"> <span>Máy tính bảng</span> </h3>
                    <div class="viewallcat">
                        <ul>
                            <li><a href="may-tinh-bang/ipad-pro-12-9-inch-wifi-128gb-2020">iPad Pro</a></li>
                            <li><a href="may-tinh-bang/ipad-8-wifi-32gb-2020">iPad 8</a></li>
                            <li><a href="may-tinh-bang/ipad-mini-7-9-inch-wifi-64gb-2019">iPad Mini</a></li>
                            <li><a href="may-tinh-bang-samsung">Samsung</a></li>
                            <li><a href="may-tinh-bang">Xem tất cả</a></li>
                        </ul>
                    </div>
                    <div class="sidebox-body_nhansam">
                        <div class="grid_product_list_column clearfix">
                            <% product_maytinhbang.forEach(function(product, index){ %>
                                <div class="product_list_column5 ">
                                    <div class="grid-list__item ">
                                        <div class="grid-list__image">  <% if(product.isHangCongTy==true){ %>
                                            <span class="label_cty">Công ty</span>
                                        <% } %>
                                        <% if(product.isTraGop==true){ %>
                                            <label class="label_installment">Trả góp 0%</label>
                                        <% } %>
                                        <% if(product.isSieuGiamGia==true){ %>
                                            <span class="sticker_mau_4">Siêu giảm giá</span>
                                        <% } %>
                                        <% if(product.isTraGop==true){ %>
                                            <label class="label_installment">Trả góp 0%</label>
                                        <% } %>
                                            <a href="dien-thoai/<%= product.path_url %>" title="<%= product.name %>">
                                                <img class="ty-pict load_scroll cm-image fade-in-on-load"
                                                    data-src="uploads/<%= product.extend_products[0].path_image %>"
                                                    alt="<%= product.name %>"
                                                    title="<%= product.name %>" src="/images/empty.jpg"
                                                    width="180" height="180"></a>
                                        </div>
                                        <div class="grid-list__rating no-rating"></div>
                                        <div class="grid-list__item-name"> <a href="dien-thoai/<%= product.path_url %>" 
                                            class="product-title"><%= product.name %></a> </div>
                                        <div class="grid-list__price"> 
                                            <span class="cm-reload-720003807 price-update" id="price_update_720003807"> 
                                                <span class="price" id="line_discounted_price_720003807"><span
                                                        id="sec_discounted_price_720003807"
                                                        class="price-num"><%= product.price.toLocaleString('it-IT') %></span><span class="price-num"><sup style="font-size:smaller">₫</sup></span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <div class="sidebox-wrapper-nhansam homepage-on-sale">
                    <h3 class="sidebox-title_nhansam"> <span>Smart Watch Giá Sốc</span> </h3>
                    <div class="viewallcat"> 
                        <ul>
                            <li><a href="phu-kien-apple">Phụ kiện Apple</a></li>
                            <li><a href="phu-kien-samsung">Phụ kiện Samsung</a></li>
                            <li><a href="smart-watch">Xem tất cả</a></li>
                        </ul>
                    </div>
                    <div class="sidebox-body_nhansam">
                        <div id="scroll_list" class="owl-carousel products_scroll_list owl-theme"
                            style="opacity: 1; display: block;">
                            <% product_smartwatch.forEach(function(product, index){ %>
                                <div class="scroller-list__item">
                                    <div class="grid-list__item " style="height: auto;">
                                        <div class="grid-list__image">
                                            <% if(product.isHangCongTy==true){ %>
                                                <span class="label_cty">Công ty</span>
                                            <% } %>
                                            <% if(product.isTraGop==true){ %>
                                                <label class="label_installment">Trả góp 0%</label>
                                            <% } %>

                                            <a href="phu-kien/<%= product.path_url %>"
                                                title="<%= product.name%>">
                                                <img class="ty-pict lazyOwl cm-image fade-in-on-load"
                                                    alt="<%= product.name%>"
                                                    title="<%= product.name%>"
                                                    src="uploads/<%= product.extend_products[0].path_image %>"
                                                    width="175" height="175" style="display: inline;">
                                            </a>
                                        </div>
                                        <div class="grid-list__rating no-rating"></div>
                                        <div class="grid-list__item-name">
                                            <a href="phu-kien/<%= product.path_url %>" class="product-title"><%= product.name%></a>
                                        </div>
                                        <div class="grid-list__price">
                                            <span class="cm-reload-440002913 price-update" id="price_update_440002913">
                                                <span class="price" id="line_discounted_price_440002913">
                                                    <span id="sec_discounted_price_440002913"
                                                        class="price-num"><%= product.price.toLocaleString('it-IT') %></span><span class="price-num"><sup style="font-size:smaller">₫</sup></span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            <% })%>
                        </div><!-- Inline script moved to the bottom of the page -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
<%- include('footer') -%>