<%- include('header', { title: 'Danh mục nhóm sản phẩm', title_c: 'Nhóm sản phẩm' }); -%>
	<!-- MAIN PANEL -->
	<div id="main" role="main">

		<!-- RIBBON -->
		<div id="ribbon">

			<span class="ribbon-button-alignment">
				<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip"
					data-placement="bottom"
					data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings."
					data-html="true">
					<i class="fa fa-refresh"></i>
				</span>
			</span>

			<!-- breadcrumb -->
			<ol class="breadcrumb">
				<li>Trang chính</li>
				<li>Bài viết</li>
				<li>Nhóm sản phẩm</li>
			</ol>
			<!-- end breadcrumb -->

		</div>
		<!-- END RIBBON -->

		<!-- MAIN CONTENT -->
		<div id="content">

			<!-- widget grid -->
			<section id="widget-grid" class="">

				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
						<h1 class="page-title txt-color-blueDark">
							<i class="fa fa-lg fa-fw fa-sitemap"></i>
							Bài viết
							<span>>
								Nhóm sản phẩm
							</span>
						</h1>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
						<ul id="sparks" class="">
							<li class="sparks-info">
								<a href="/admincp/productGroup/add" class="btn btn-success">Thêm nhóm mới</a>
							</li>
						</ul>
					</div>
				</div>

				<!-- row -->
				<div class="row">

					<!-- NEW WIDGET START -->
					<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<!-- Widget ID (each widget will need unique ID)-->
						<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0"
							data-widget-deletebutton="false" data-widget-togglebutton="false"
							data-widget-editbutton="false">

							<header>
								<span class="widget-icon"> <i class="fa fa-table"></i> </span>
								<h2>Danh sách nhóm sản phẩm</h2>

							</header>

							<!-- widget div-->
							<div>

								<!-- widget edit box -->
								<div class="jarviswidget-editbox">
									<!-- This area used as dropdown edit box -->

								</div>
								<!-- end widget edit box -->

								<!-- widget content -->
								<div class="widget-body no-padding">

									<table id="dt_basic" class="table table-striped table-bordered table-hover"
										width="100%">
										<thead>
											<tr>
												<th data-hide="phone">ID</th>
												<th data-hide="expand"><i
														class="fa fa-fw fa-tag text-muted hidden-md hidden-sm hidden-xs"></i>
													Tên nhóm sản phẩm</th>
												<th data-hide="phone,tablet"><i
														class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i>
													Ngày tạo</th>
												<th data-hide="expand"><i
														class="fa fa-fw fa-sliders text-muted hidden-md hidden-sm hidden-xs"></i>
													Trạng thái</th>
												<th data-hide="expand"><i
														class="fa fa-fw fa-cog text-muted hidden-md hidden-sm hidden-xs"></i>
													Actions</th>
											</tr>
										</thead>
										<tbody>
											<% if(products_group) { %>
												<% products_group.forEach(function(product_group, index){ %>
													<tr>
														<td><%= product_group.id %></td>
														<td><a href="/admincp/productGroup/add/<%= product_group.id %>"><%= product_group.groupName %></a></td>
														<td class="text-right"><%= product_group.createdAt.toLocaleDateString()  %></td>

														<% if(product_group.status == true) { %>
															<td class="text-center"><a href='/admincp/productGroup/changeStatus/<%= product_group.id %>'>Kích hoạt</a></td>
														<% } else { %>
															<td class="text-center"><a href='/admincp/productGroup/changeStatus/<%= product_group.id %>'>Khóa</a></td>
														<% } %>
														
														<td class="text-center">
															<a  href="/admincp/productGroup/delete/<%= product_group.id %>"
																class="btn btn-default btn-xs" title="Xoá"
																onclick="if (confirm(&quot;B\u1ea1n c\u00f3 ch\u1eafc ch\u1eafn mu\u1ed1n xo\u00e1?&quot;)) { return true; } return false;"><i
																	class="fa fa-times"></i></a><a
																href="/admincp/productGroup/add/<%= product_group.id %>" class="btn btn-default btn-xs"
																title="Sửa"><i class="fa fa-pencil"></i></a>
														</td>
													</tr>
												<% }); %>
											<% } %>
										</tbody>
									</table>

								</div>
								<!-- end widget content -->

							</div>
							<!-- end widget div -->

						</div>
						<!-- end widget -->

					</article>
				</div>
			</section>
			<!-- end widget grid -->
		</div>
		<!-- END MAIN CONTENT -->

	</div>
	<!-- END MAIN PANEL -->
<%- include('footer') -%>